body{
  font-family: Lato;
  background-color: #222831;
  color: white;
}

p{
  margin: 0 auto 0 auto;
  max-width: 50%;
}

.title-img{
  border-radius: 100%;
  border: 5px solid #393e46;
  max-width: 50%;
}

.title{
  margin-top: 150px;
}

.about-me{
  margin-top: 150px;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: white;
  color: black;
}

.about-me-carousel{
  max-width: 500px;
  margin: 20px auto 0 auto;
}

.car-item{
  width: auto;
  height:500px;
  max-height: 500px;
}

.carousel-item{
  width: 100%;
  height:500px;
}

.carousel-item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
